@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

//Шаблоны шрифтов
%Lato900 {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 900;
}

%Lato700 {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
}

%Lato400 {
	font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
}