//Иконки
.interface-icon {
	width: 16px;
}

.social-icon-small {
	width: 20px;
	cursor: pointer;
	
	&:hover path {
		fill: #FF3F3A;
		transform: scale(1.05);
	}
}

.social-icon-default {
	width: 24px;
	cursor: pointer;
	
	&:hover path {
		fill: #FF3F3A;
		transform: scale(1.05);
	}
}