<section class="contacts">
    <div class="container">
        <div class="contacts__row">
            <div class="contacts__info">
                <h3>Contact info</h3>
                <h2>Get in touch</h2>
                <div *ngIf="contactsArray" class="contacts__list">
                    <div *ngFor="let item of contactsArray" class="contacts__item">
                        <div class="contacts__icon">
                            <img [src]="item.iconOrange" [alt]="item.alt">
                        </div>
                        <div class="contacts__block">
                            <div class="contacts__method">
                                {{item.name}}
                            </div>
                            <a [href]="item.link" class="contacts__main">
                                {{item.value}}
                            </a>
                        </div>
                    </div>
                </div>
                <h3>Follow us:</h3>
                <div *ngIf="socialsArray" class="socials">
                    <a  [class]="social.name" class="link-item" href="#" *ngFor="let social of socialsArray | slice:0:10"></a>
                </div>            
            </div>
            <div class="contacts__map">
                <div id="map"></div>
            </div>
        </div>
    </div>
</section>