<section class="contacts">
    <div class="container">
        <div class="contacts__row">
            <div class="contacts__info">
                <h3>Contact info</h3>
                <h2>Get in touch</h2>
                <div class="contacts__list">
                    <div class="contacts__item">
                        <div class="contacts__icon">
                            <img src="assets/images/contacts/Chat.svg" alt="">
                        </div>
                        <div class="contacts__block">
                            <div class="contacts__method">
                                Talk to us:
                            </div>
                            <a href="mailto:hello@createx.com" class="contacts__main">
                                hello@createx.com
                            </a>
                        </div>
                    </div>
                    <div class="contacts__item">
                        <div class="contacts__icon">
                            <img src="assets/images/contacts/iPhone.svg" alt="">
                        </div>
                        <div class="contacts__block">
                            <div class="contacts__method">
                                Call us:
                            </div>
                            <a href="tel:+14055550128" class="contacts__main">
                                (405) 555-0128
                            </a>
                        </div>
                    </div>
                    <div class="contacts__item">
                        <div class="contacts__icon">
                            <img src="assets/images/contacts/outline.svg" alt="">
                        </div>
                        <div class="contacts__block">
                            <div class="contacts__method">
                                Address:
                            </div>
                            <a class="contacts__main">
                                2464 Royal Ln. Mesa, New Jersey 45463, USA
                            </a>
                        </div>
                    </div>
                </div>
                <h3>Follow us:</h3>
                <div class="socials">
                    <a href="#">
                        <img src="assets/images/contacts/Facebook.svg" alt="Facebook icon">
                    </a>
                    <a href="#">
                        <img src="assets/images/contacts/Twitter.svg" alt="Twitter icon">
                    </a>
                    <a href="#">
                        <img src="assets/images/contacts/YouTube.svg" alt="YouTube icon">
                    </a>
                    <a href="#">
                        <img src="assets/images/contacts/telegram.svg" alt="telegram icon">
                    </a>
                    <a href="#">
                        <img src="assets/images/contacts/Instagram.svg" alt="Instagram icon">
                    </a>
                    <a href="#">
                        <img src="assets/images/contacts/Linked-In.svg" alt="Linked-In icon">
                    </a>
                    
                </div>
            </div>
            <div class="contacts__map">
                <div id="map"></div>
            </div>
        </div>
    </div>

</section>


<!-- <script type="text/javascript">
    ymaps.ready(init);
    function init(){
        var myMap = new ymaps.Map("map", {
            center: [55.76, 37.64],
            zoom: 7
        });
    }
</script> -->