<footer class="footer">
    <div class="container">
        <div class="footer__row">
            <div class="footer__main">
                <img src="assets/images/footer/logo.svg" alt="web site logo">
                <p>
                    Createx Online School is a leader in online studying. <br>
                    We have lots of courses and programs from the main <br>
                    market experts. We provide relevant approaches <br>
                    to online learning, internships and employment in the <br>
                    largest companies in the country. 
                </p>
                <div *ngIf="socialsArray" class="footer__socials">
                    <a *ngFor="let social of socialsArray | slice:0:6" [class]="social.name" class="link-item" href="#"></a>
                </div>
            </div>
            <div class="footer__list">
                <span>SITE MAP</span>
                <ul>
                    <li> <a href="#">About Us</a> </li>
                    <li> <a href="#">Courses</a> </li>
                    <li> <a href="#">Events</a> </li>
                    <li> <a href="#">Blog</a> </li>
                    <li> <a href="#">Contacts</a> </li>
                </ul>
            </div>
            <div class="footer__list">
                <span>COURSES</span>
                <ul>
                    <li> <a href="#">Marketing</a> </li>
                    <li> <a href="#">Management</a> </li>
                    <li> <a href="#">HR & Recruting</a> </li>
                    <li> <a href="#">Design</a> </li>
                    <li> <a href="#">Development</a> </li>
                </ul>
            </div>
            <div class="footer__list">
                <span>CONTACT US</span>
                <ul>
                    <li *ngFor="let contact of contactsArray">
                        <img [src]="contact.iconWhite" [alt]="contact.alt">
                        <a [href]="'tel:' + contact.value">{{contact.value}}</a> 
                    </li>
                </ul>
            </div>
            <div class="footer__form">
                <span>SIGN UP TO OUR NEWSLETTER</span>               
                
                <div class="footer__input">
                    <input type="email" name="" placeholder="Email address" id="">  
                    <button><img src="assets/images/footer/Right.svg" alt="submit button"></button>
                </div>       
                <p>*Subscribe to our newsletter to receive communications and early 
                    updates from Createx SEO Agency.</p>
            </div>
        </div>

    </div>
    <div class="author">
        <div class="container">
            <div class="author__row">
                <div class="author__rights">
                    © All rights reserved.Made with 
                    <img src="assets/images/footer/Heart.svg" alt="heart"> 
                    by Createx Studio 
                </div>
                <a class="author__link" href="#header">GO TO TOP</a>
            </div>
        </div>
    </div>
</footer>