@import '../../../styles.scss';

.footer {
    background: $gray900;

    &__row {
        display: flex;
        justify-content: space-between;
        gap: 80px;
        padding: 80px 0 60px 0;

        @media (max-width: 1100px) {
            gap: 10px;
        }

        @media (max-width: 767px) {
            flex-direction: column;
            padding-left: 10px;
        }
    }

    &__main {
        max-width: 279px;

        p {
            font-size: 12px;
            line-height: 150%;
            color: $white;
            opacity: 0.6;
            display: inline-block;
            width: 100%;
            margin: 25px 0 41px 0;
            @extend %Lato400;
        }
    }

    &__socials {
        display: flex;
        gap: 20px
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 8px;

        span {
            font-size: 16px;
            line-height: 150%;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: $white;
            margin-bottom: 4px;
            @extend %Lato700;
        }

        ul li {
            display: flex;
            gap: 8px;
        }

        ul li a{
            font-size: 16px;
            line-height: 160%;
            color: $white;
            opacity: 0.6;
            @extend %Lato400;
        }
    }

    &__form {
        max-width: 286px;

        span {
            font-size: 16px;
            line-height: 150%;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: $white;
            @extend %Lato700;
        } 

        p {
            font-size: 10px;
            line-height: 150%;
            color: $white;
            @extend %Lato400;
        }
    }

    &__input {
        position: relative;

        input {
            background: rgba($color: $black, $alpha: 0.12);
            border: 1px solid rgba($color: $black, $alpha: 0.2);
            border-radius: 4px;
            font-size: 12px;
            line-height: 150%;
            color: $white;
            padding: 9px 25px 9px 12px;
            width: 100%;
            margin: 24px 0 12px 0;
            @extend %Lato400;          
        }     
    }

    &__input button {
        position: absolute;
        bottom: 14px;
        right: 12px;
        background: transparent;
        transform: translate(0, -50%);
    }
}

.author {
    background: rgba($color: $white, $alpha: 0.05);  
    padding: 20px 0;

    &__row {
        display: flex;
        justify-content: space-between;
    }

    &__rights {
        color: $white;
        font-size: 12px;
        line-height: 150%;
        @extend %Lato400;
    }

    &__link {
        color: $white;
        font-size: 14px;
        line-height: 150%;
        opacity: 0.6;
        cursor: pointer;
        @extend %Lato700;
    }
}
