<!-- <app-sign-in></app-sign-in> -->
<header id="header" >
    <div class="container">
        <div class="header__row">

            <nav class="nav">
                <div class="logo">
                    <img src="../../../assets/images/logo.svg" alt="web site logo">
                </div>
                <ul class="nav__menu">
                    <li> <a class="nav__link" routerLinkActive="active-link" href="#">About Us</a> </li>
                    <li> <a class="nav__link" routerLinkActive="active-link" href="#">Courses</a> </li>
                    <li> <a class="nav__link" routerLinkActive="active-link" href="#">Events</a> </li>
                    <li> <a class="nav__link" routerLinkActive="active-link" href="#">Blog</a> </li>
                    <li> <a class="nav__link" routerLinkActive="active-link" routerLink="/contacts">Contacts</a> </li>
                </ul>
            </nav>
            <div class="services">
                <div class="services__consultation">
                    <a routerLink="/sign-in">Get consultation</a>
                </div>
                <div class="services__login">
                    <img src="../../../assets/images/Person.svg" alt="person icon">
                    <a routerLink="/sign-in">Log in/Register</a>
                </div>
            </div>

        </div>
    </div>
</header>
