@import '../../../styles.scss';

.header {
    &__row {
        padding: 36px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 900px) {
            flex-direction: column;
        }
    }
}

.nav {
    display: flex;
    align-items: center;
    gap: 60px;

    @media (max-width: 1100px) {
        gap: 30px;
    }

    @media (max-width: 900px) {
        gap: 15px;
    }

    @media (max-width: 480px) {
        flex-direction: column;
    }

    &__menu {
        display: flex;
        gap: 40px;

        @media (max-width: 1100px) {
            gap: 20px;
        }

        @media (max-width: 900px) {
            gap: 10px;
        }
    }

    &__link {
        color: #424551;
        font-size: 16px;
        line-height: 160%;
        @extend %Lato700;
    }

    &__link:hover {
        color: #F75E05;
    }
}

.services {
    display: flex;
    align-items: center;

    &__consultation button {
        display: flex;
        background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
        border-radius: 4px;
        padding: 0 40px;
        font-size: 16px;
        line-height: 52px;
        color: white;
        @extend %Lato700;

        @media (max-width: 767px) {
            padding: 0 10px;
        }
    }

    

    &__login {
        padding-left: 37px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 9px;

        @media (max-width: 767px) {
            padding-left: 10px;
        }
    }

    &__login button{
        background: transparent;
        font-size: 16px;
        line-height: 160%;
        color: #424551;
        @extend %Lato700;
    }
}

.active-link {
    color: #F75E05;
}