<div class="background">
    <div class="sign-up">
        <form [formGroup]="signUpForm" class="sign-up__form">
            <span class="sign-up__title">Sign up</span>
            <p class="sign-up__info">
                Registration takes less than a minute but gives you full control over your studying.
            </p>
            <div class="form-item">
                <label for="name">Full Name</label>
                <input formControlName="name" type="text" class="input"
                    [ngClass]="{'input-error': submitted && signUpForm.controls.name.errors, 'input-default': !signUpForm.controls.name.errors || !submitted}"
                    placeholder="Your full name">
                <div class="danger-message" *ngIf="submitted && signUpForm.controls.name.errors?.required || submitted && signUpForm.controls.name.errors">
                    Please provide a valid input.
                </div>
                <div class="success-message" *ngIf="submitted && !signUpForm.controls.name.errors">Looks good!</div>
            </div>
            <div class="form-item">
                <label for="email">Email</label>
                <input formControlName="email" type="email" class="input"
                    [ngClass]="{'input-error': submitted && signUpForm.controls.email.errors, 'input-default': !signUpForm.controls.email.errors || !submitted}"
                    placeholder="Your working email">
                <div class="danger-message" *ngIf="submitted && signUpForm.controls.email.errors?.required || submitted && signUpForm.controls.email.errors ">
                    Please provide a valid input.
                </div>
                <div class="success-message" *ngIf="submitted && !signUpForm.controls.email.errors">Looks good!</div>
            </div>
            <div class="form-item">
                <label for="password">Password</label>
                <input formControlName="password" #passwordInputRef1 [type]="inputType" placeholder="Your password"
                    class="input"
                    [ngClass]="{'input-error': submitted && signUpForm.controls.password.errors, 'input-default': !signUpForm.controls.password.errors || !submitted}">
                <button (click)="toggleHidden()" class="password-access-btn">
                    <img [src]="passwordIcon">
                </button>
                <div class="danger-message" *ngIf="submitted && signUpForm.controls.password.errors?.required || submitted && signUpForm.controls.password.errors">
                    Please provide a valid input.</div>
                <div class="success-message" *ngIf="submitted && !signUpForm.controls.password.errors">Looks good!</div>
            </div>
            <div class="form-item">
                <label for="password">Confirm Password</label>
                <input formControlName="password" #passwordInputRef2 [type]="inputType" placeholder="Your password"
                    class="input"
                    [ngClass]="{'input-error': submitted && signUpForm.controls.password.errors, 'input-default': !signUpForm.controls.password.errors || !submitted}">
                <button (click)="toggleHidden()" class="password-access-btn">
                    <img [src]="passwordIcon">
                </button>
                <div class="danger-message" *ngIf="submitted && signUpForm.controls.password.errors?.required || submitted && signUpForm.controls.password.errors">
                    Please provide a valid input.</div>
                <div class="success-message" *ngIf="submitted && !signUpForm.controls.password.errors">Looks good!</div>
            </div>
            <div class="sign-up__settings">
                <div class="sign-up__keep">
                    <button (click)="checkboxToggle()">
                        <img [src]="checkboxIcon" [alt]="checkboxAlt">
                    </button>
                    <span>Remember me</span>
                </div>
            </div>
            <button (click)="onSubmit()" class="sign-up__button">Sign up</button>
            <div class="sign-up__register">
                Already have an account? <a routerLink="/sign-in">Sign in</a>
            </div>
        </form>
        <div class="sign-up__socials">
            <span>Or sign in with</span>
            <div *ngIf="socialsArray" class="sign-up__icons">
                <a *ngFor="let social of socialsArray" [class]="social.name" class="link-item" href="#"></a>
            </div>
        </div>
        <a class="sign-up__close" routerLink="/">
            <img src="assets/images/sign-in/Cross.svg" alt="close button">
        </a>
    </div>
</div>