<div class="background">
    <div class="sign-in">
        <form [formGroup]="signInForm" class="sign-in__form">
            <span class="sign-in__title">Sign in</span>
            <p class="sign-in__info">
                Sign in to your account using email and password provided during registration.
            </p>
            <div class="form-item">
                <label for="email">Email</label>
                <input formControlName="email" type="email" 
                    class="input"
                    [ngClass]="{'input-error': submitted && signInForm.controls.email.errors, 'input-default': !signInForm.controls.email.errors || !submitted}"
                    placeholder="Your working email">
                <div class="danger-message" *ngIf="submitted && signInForm.controls.email.errors?.required || submitted && signInForm.controls.email.errors">
                    Please provide a valid input.
                </div>
                <div class="success-message" *ngIf="submitted && !signInForm.controls.email.errors">
                    Looks good!
                </div>
            </div>
            <div class="form-item">
                <label for="password">Password</label>
                <input formControlName="password" #passwordInputRef type="password" 
                    placeholder="Your password"
                    class="input"
                    [ngClass]="{'input-error': submitted && signInForm.controls.password.errors, 'input-default': !signInForm.controls.password.errors || !submitted}">
                <button (click)="toggleHidden()" class="password-access-btn">
                    <img [src]="isPasswordHidden 
                                ? 'assets/images/Eye.svg' 
                                : 'assets/images/Closed-Eye.svg'" [alt]="isPasswordHidden 
                                ? 'show password' 
                                : 'hide password'">
                </button>
                <div class="danger-message" *ngIf="submitted && signInForm.controls.password.errors?.required || submitted && signInForm.controls.password.errors">
                    Please provide a valid input.
                </div>
                <div class="success-message" *ngIf="submitted && !signInForm.controls.password.errors">
                    Looks good!
                </div>
            </div>
            <div class="sign-in__settings">
                <div class="sign-in__keep">
                    <button (click)="isKeepMe = !isKeepMe">
                        <img [src]="isKeepMe 
                                ? 'assets/images/questions/checked.svg' 
                                : 'assets/images/questions/unchecked.svg'" [alt]="isKeepMe 
                                ? 'checkbox check' 
                                : 'checkbox uncheck'">
                    </button>
                    <span>Keep me signed in</span>
                </div>
                <div class="sign-in__forgot">
                    <a href="#">Forgot password?</a>
                </div>
            </div>
            <button (click)="onSubmit()" class="sign-in__button">Sign in</button>
            <div class="sign-in__register">
                Don't have an account? <a routerLink="/sign-up">Sign up</a>
            </div>
        </form>
        <div class="sign-in__socials">
            <span>Or sign in with</span>
            <div *ngIf="socialsArray" class="sign-in__icons">
                <a [class]="socialsArray[0].name" class="link-item" href="#"></a>
                <a [class]="socialsArray[6].name" class="link-item" href="#"></a>
                <a [class]="socialsArray[1].name" class="link-item" href="#"></a>
                <a [class]="socialsArray[5].name" class="link-item" href="#"></a>
            </div>
        </div>
        <a class="sign-in__close" routerLink="/">
            <img src="assets/images/sign-in/Cross.svg" alt="close button">
        </a>
    </div>
</div>