<div class="background">
    <div class="sign-in">
        <div class="sign-in__form">
            <span class="sign-in__title">Sign in</span>
            <p class="sign-in__info">
                Sign in to your account using email and password provided during registration.
            </p>
            <div class="form-input-default">
                <span>Email</span>
                <input type="email" placeholder="Your working email">
            </div>
            <div class="form-input-default">
                <span>Password</span>
                <input #passwordInputRef type="password" placeholder="Your password">
                <button class="password-access-btn">
                    
                </button>
                <button (click)="toggleHidden()"  class="password-access-btn">
                    <img src="../../../assets/images/Closed-Eye.svg" *ngIf="!isPasswordHidden" alt="hide password">
                    <img src="../../../assets/images/Eye.svg" *ngIf="isPasswordHidden" alt="show password">
                </button>
            </div>
            <div class="sign-in__settings">
                <div class="sign-in__keep">
                    <button (click)="isKeepMe = !isKeepMe" >
                        <img *ngIf="isKeepMe" src="../../../assets/images/questions/checked.svg" alt="checkbox check">
                        <img *ngIf="!isKeepMe" src="../../../assets/images/questions/unchecked.svg" alt="checkbox uncheck">
                    </button>
                    <span>Keep me signed in</span> 
                </div>
                <div class="sign-in__forgot">
                    <a href="#">Forgot password?</a>
                </div>
            </div>          
            <button class="sign-in__button">Sign in</button>
            <div class="sign-in__register">
                Don't have an account? <a routerLink="/sign-up">Sign up</a> 
            </div>
        </div>
        <div class="sign-in__socials">
            <span>Or sign in with</span>
            <div class="sign-in__icons">
                <img src="../../../assets/images/contacts/Facebook.svg" alt="Facebook icon">
                <img src="../../../assets/images/sign-in/Google.svg" alt="Google icon">
                <img src="../../../assets/images/contacts/Twitter.svg" alt="Twitter icon">
                <img src="../../../assets/images/contacts/Linked-In.svg" alt="Linked-In icon">
            </div>
        </div>
        <a class="sign-in__close" routerLink="/">
            <img src="../../../assets/images/sign-in/Cross.svg" alt="close button">
        </a>


    </div>

</div>
