@import '../../../styles.scss';

.background {
    background: rgba($color: $black, $alpha: 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2; 
}

.sign-in {
    overflow-y: scroll;
    background: $white;
    max-width: 486px;
    position: relative;

    &__form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 48px;
    }


    &__title {
        font-size: 28px;
        line-height: 150%;
        color: $gray900;
        text-align: center;
        @extend %Lato700;
    }

    &__info {
        font-size: 14px;
        line-height: 150%;
        color: $gray700;
        text-align: center;
        @extend %Lato400;
    }

    &__settings {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__keep {    
        display: flex;
        align-items: center;
        gap: 12px;

        span {
            font-size: 14px;
            line-height: 150%;
            color: $gray800;
            @extend %Lato400;
        }
    }

    &__forgot a{
        font-size: 14px;
        line-height: 150%;
        text-align: right;
        color: $primary;
        @extend %Lato400;
    }

    &__button {
        background: linear-gradient(55.95deg, $primary 0%, $orange 100%);
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        line-height: 52px;
        letter-spacing: 0.5px;
        color: $white;
        max-height: 44px;
      
        @extend %Lato700;
    }

    &__register {
        font-size: 14px;
        line-height: 150%;
        color: $gray800;
        @extend %Lato400;

        a {
            color: $primary;
        }
    }

    &__socials {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        border-top: 1px solid $gray300;
        padding: 48px;

        span {
            text-align: center;
            font-size: 14px;
            line-height: 150%;
            color: $gray700;
            @extend %Lato400;
        }
    }

    &__icons {
        display: flex;
        gap: 12px;
    }
}

.sign-in::-webkit-scrollbar {
    display: none;
}