@import '../../../../styles.scss';

.recommend {
    margin-top: 120px;

    &__nav {
    }

    &__row {
        display: flex;
        gap: 30px;

        @media (max-width: 768px) {
            flex-direction: column;
        }
    }

    &__more {
        margin: 80px 0 185px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }
}
