.not-found {
    &__row {
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 32px;
            font-weight: 400;
            font-family: 'Lato';
            font-style: normal;
        }
    }
}