@import '../../../../styles.scss';

.cards-filter {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
    

    &__item {
        padding: 10px 20px;
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 16px;
        line-height: 160%;
        color: $gray600;
        cursor: pointer;
        @extend %Lato700;

        &:hover {
            outline: 1px solid $primary;
            border-radius: 4px;
            color: $primary;

            
            
        }


    }

    // &__item:hover {

    // }
}
