<div class="cards-filter">
  <div class="cards-filter__item">All</div>
  <div class="cards-filter__item">
    <mat-icon
      class="interface-icon filter-icon"
      svgIcon="article-icon"
    ></mat-icon>
    Article
  </div>
  <div class="cards-filter__item">
    <mat-icon
      class="interface-icon filter-icon"
      svgIcon="video-icon"
    ></mat-icon>
    Videos
  </div>
  <div class="cards-filter__item">
    <mat-icon class="interface-icon filter-icon" svgIcon="mic-icon"></mat-icon>
    Podcasts
  </div>
</div>
