
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$createx-primary: mat.define-palette(mat.$indigo-palette);
$createx-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$createx-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$createx-theme: mat.define-light-theme((
  color: (
    primary: $createx-primary,
    accent: $createx-accent,
    warn: $createx-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($createx-theme);

/* You can add global styles to this file, and also import other style files */
@import './app/styles/nullstyle.scss';
@import './app/styles/fonts.scss';
@import './app/styles/headings.scss';
@import './app/styles/icons.scss';
@import './app/styles/inputs.scss';
@import './app/styles/buttons.scss';

.container {
    max-width: 1230px;
    margin: 0 auto;
}

.form-item {
	display: flex;
	flex-direction: column;
	gap: 8px;
	flex: 1 1 100%;
	position: relative;

	label {
		font-size: 16px;
		line-height: 160%;
		color: #424551;
		@extend %Lato400;
	}
}

.success-message {
	position: absolute;
	bottom: -18px;
	left: 0;
	font-size: 12px;
	line-height: 150%;
	color: #03CEA4;
	@extend %Lato400;
}

.danger-message {
	position: absolute;
	bottom: -18px;
	left: 0;
	font-size: 12px;
	line-height: 150%;
	color: #FF4242;
	@extend %Lato400;
}

.tags {
    display: flex;
    flex-direction: column;

    &__main {
        margin-top: 31px;
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
    }

    &__tag {
        display: inline-flex;
        padding: 5.5px 16px;
        border: 1px solid #D7DADD;
        border-radius: 4px;
        font-size: 14px;
        line-height: 150%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #787A80;
        @extend %Lato700;

        &:hover {
            background: #FF3F3A;
            color: white;
        }
    }
}

.divider {
	width: 1px;
	height: 16px;
	background: #787A80;
	margin: 0 12px;
}