@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

//Шаблоны шрифтов
%Lato900 {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 900;
}

%Lato700 {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
}

%Lato400 {
	font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
}

/* You can add global styles to this file, and also import other style files */

/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.container {
    max-width: 1280px;
    margin: 0 auto;
}

//Заголовки
h3 {
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #1E212C;
	@extend %Lato700;
}

h2 {
	font-size: 46px;
	line-height: 130%;
	color: #1E212C;
	margin: 8px 0 40px 0;
	@extend %Lato900;
}

//Элементы формы
.form-item {
	display: flex;
	flex-direction: column;
	gap: 8px;
	flex: 1 1 100%;
	position: relative;

	label {
		font-size: 16px;
		line-height: 160%;
		color: #424551;
		@extend %Lato400;
	}
}

//Кнопки
.password-access-btn {
	position: absolute;
	bottom: 0;
	right: 16px;
	transform: translate(0, -50%);
	background: transparent;
}

//Уведомления
.success-message {
	position: absolute;
	bottom: -18px;
	left: 0;
	font-size: 12px;
	line-height: 150%;
	color: #03CEA4;
	@extend %Lato400;
}

.danger-message {
	position: absolute;
	bottom: -18px;
	left: 0;
	font-size: 12px;
	line-height: 150%;
	color: #FF4242;
	@extend %Lato400;
}



.input {
	font-size: 16px;
	line-height: 160%;
	color: #9A9CA5;
	padding: 11px 0 12px 16px;
	background: #FFFFFF;
	// border: 1px solid #D7DADD;
	border-radius: 4px;
	max-height: 44px;
	@extend %Lato400;
}

.input-default {
	border: 1px solid #D7DADD;
}

.input-error {
	border: 1px solid red;
}

.input-default:focus {
	border: 1px solid rgba(255, 63, 58, 0.4);
	box-shadow: 0px 80px 80px -20px rgba(255, 63, 58, 0.08), 0px 30px 24px -10px rgba(255, 63, 58, 0.05), 0px 12px 10px -6px rgba(255, 63, 58, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
}


//Ссылки
.social-link:hover {
	img path{
		fill: orange;
	}
}

.facebook {
	-webkit-mask: url(assets/images/contacts/Facebook.svg) no-repeat center;
	mask: url(assets/images/contacts/Facebook.svg) no-repeat center;
}

.twitter {
	-webkit-mask: url(assets/images/contacts/Twitter.svg) no-repeat center;
	mask: url(assets/images/contacts/Twitter.svg) no-repeat center;
}

.youtube {
	-webkit-mask: url(assets/images/contacts/YouTube.svg) no-repeat center;
	mask: url(assets/images/contacts/YouTube.svg) no-repeat center;
}

.telegram {
	-webkit-mask: url(assets/images/contacts/telegram.svg) no-repeat center;
	mask: url(assets/images/contacts/telegram.svg) no-repeat center;
}

.instagram {
	-webkit-mask: url(assets/images/contacts/Instagram.svg) no-repeat center;
	mask: url(assets/images/contacts/Instagram.svg) no-repeat center;}

.linked-in {
	-webkit-mask: url(assets/images/contacts/Linked-In.svg) no-repeat center;
	mask: url(assets/images/contacts/Linked-In.svg) no-repeat center;
}

.google {
	
	-webkit-mask: url(assets/images/sign-in/Google.svg) no-repeat center;
	mask: url(assets/images/sign-in/Google.svg) no-repeat center;
	
}

.link-item {
	background-color: #787A80;
	width: 24px;
	height: 24px;
}

.link-item:hover {
	background: #FF3F3A;
	transform: scale(1.05);
}